@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    margin: auto;
}

.buttons1 {
	margin-bottom: 20px;
	text-align: right;
}

.buttons2 {
	margin-bottom: 20px;
	text-align: center;
} 

.buttons1 form input[type="submit"],
.buttons2 form button{
	padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5mm;
    transition: background-color 0.3s;
}

.buttons1 form input:hover,
.buttons2 form button:hover{
	background-color: #555;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 15%;
    box-sizing: border-box; 
    margin-bottom: 10px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #dddddda5;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    table th, table td {
        font-size: 14px;
    }
}
